---
import { FAQAccordion } from '@/components/FAQAccordion';
import { CONTACT_FAQ_SECTION } from '@/constants/ui-texts/contact';
---

<section
	class="w-full py-24 px-4 sm:px-6 flex justify-center text-white bg-black"
>
	<div
		class="w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
	>
		<!-- Columna izquierda -->
		<div class="space-y-4">
			<p
				class="text-lg sm:text-xl md:text-2xl text-neutral-500 font-bold"
			>
				{CONTACT_FAQ_SECTION.tagline}
			</p>

			<h2
				class="text-2xl sm:text-3xl md:text-4xl font-bold leading-tight"
			>
				{CONTACT_FAQ_SECTION.title}
			</h2>

			<p class="text-neutral-400 text-sm md:text-base leading-relaxed">
				{CONTACT_FAQ_SECTION.description}
			</p>
		</div>

		<!-- Columna derecha -->
		<div class="w-full">
			<FAQAccordion client:idle />
		</div>
	</div>
</section>
